


img {
  max-width: 100%;
}



p, h1, h2, h3 {
  line-height: 1.6; /* This equates to 160% */
}


h2{
  font-size: 32px;
}

h3{
  font-size: 24px;
}

.slick-slide {
  padding: 0 20px; /* Adjust the value to create the gap you desire */
  box-sizing: border-box; /* Ensures padding doesn't affect the total width of the slide */
}

/* Custom CSS to change the arrow color */
.slick-prev,
.slick-next {
  color: black !important; /* Overrides other styles to ensure the color is applied */
}

/* If the arrows are using before/after pseudo-elements for icons */
.slick-prev:before,
.slick-next:before {
  color: black !important; /* Overrides other styles to ensure the color is applied */
}


